@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .item h5 {
    @apply absolute bottom-4 px-6 w-52 text-white uppercase
           duration-200 transform
           md:bottom-8 md:px-10
           group-hover:scale-110
           group-hover:text-black;
  }

  .item-gradient {
    @apply absolute inset-0
           bg-gradient-to-b from-transparent to-gray-900
           group-hover:from-gray-50 group-hover:to-white
           group-hover:opacity-70;
  }

  .item {
    @apply relative overflow-hidden md:w-1/4;
  }

  .item-container {
    @apply flex flex-col justify-between w-full space-y-6 text-2xl uppercase
           md:flex-row md:space-y-0 md:space-x-8;
  }
}

@layer components {
  .btn {
    @apply inline-block px-10 py-2 font-bold tracking-widest
           uppercase border-2 border-black
           transition-colors duration-200
           hover:bg-black hover:text-white;
  }
}



#hero {
    background-image: url('../images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media(max-width: 576px) {
    #hero {
        background-image: url('../images/mobile/image-hero.jpg');
        background-position: center
    }
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    cursor: pointer;
    position: absolute;
    width: 24px;
    height: 2px;
    top: 5;
    left: -5;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(8px);
}

.hamburger-bottom {
    transform: translateY(16px);
}

.open {
    transform: rotate(90deg);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-06px);
}

.open .hamburger-middle {
    display: none;
}




